:host {
  display: block;
}

.badge {
  width: fit-content;
  border-radius: 4px;
  padding: 4px 6px;
  border: 1px solid rgba(235, 235, 255, 0.7);
   color: rgba(235, 235, 255, 0.7);
}

.badge-master {
  border: 1px solid #FFBE7D;
  color: #FFBE7D;
}

.badge-live {
  border: 1px solid red;
  color: red;
}

